@charset 'utf-8';
/*公用开始*/
.pop-wrap{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 1000;
}
.pop-cover{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 1100;
    background:rgba(1,1,1,.6);
}
.pop-content{
    background:#fff;
    position: fixed;
    z-index: 1200;
    width:500px;
    height:262px;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}
.pop-content-title{
    padding:15px 10px;
    font-size:18px;
    color:#333;
    border-bottom:1px solid #ccc;
}
.pop-content-text{
    padding:20px 10px;
}
/*公用部分结束*/
.page-option-wrapper{
    text-align: center;
    padding:40px 0;
}
.page-option{
    display: inline-block;
    vertical-align: middle;
    margin:0 20px;
}
.page-option img{
    display: block;
}