@charset "utf-8";
ul{
	list-style:none;
}
body{
	font-size:14px;
	/* background: #0084CF; */
}
tbody{
	background: #fff;
}
th,td{
	text-align: center;
}
.red{
	color:red;
}
.container-fluid{
	height: auto;
	/*background: #0084CF;*/
}
.con-wrap{
	padding:0;
}
.con-title{
	height: 40px;
	line-height: 40px;
}
.con-title h3{
	text-align: center;
	font-size: 1.6em;
	color: #333;
	font-weight: bold;
	margin:0;
	margin-top:20px;
}
.con-content{
	border:2px solid #6DB7E2;
	border-radius: 6px;
	margin-top: 20px;
}
.step{
	height:48px;
	padding:0 20px;
	line-height: 48px;
	font-size: 16px;
	background:#0085CF;
}
.main-content{
	background: #CDE7F7;
	padding-bottom:20px;
	padding-top:10px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius:6px ;
}
.article-wrap{
	background: #fff;
	margin:0 20px;
	margin-bottom: 20px;
	padding:5px 10px;
}
.article-wrap h5{
	margin-top:0;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: 8px 0;
	text-align: left;
	color:#333;
}
.agree-wrap{
	text-align: center;
	margin:10px 0;
}
.agree-btn-wrap{
	text-align:center;
}
.step span,.step a{
	color:#fff;
}
.auth-img img{
	background:red;
	border:none;
	display: block;
}
ul.department{
	padding:0;
}
.department li{
	padding:5px 0;
	text-align: center;
}
.department li a{
	width:100%;
}
.operation a{
	
}
.tip{
	background: #fff;
    width: 96%;
    margin: 0 auto;
    padding: 8px;
    border-radius: 4px;
}
.course-table{
	width:96%;
	margin:20px auto;
}
table{
	background: #E0EAF3;
}
.succeed-one{
	border-bottom: 1px solid #ccc;
	padding: 20px;
}
.succeed-two{
	padding:20px;
}
.chinabank-wrap,.registration{
	width:96%;
	margin:0 auto;
}
.chinabank-tip{
	background: #FDFAAF;
    color: #C9733D;
    padding: 8px;
    border-radius: 4px;
}
.btn-wrap{
	text-align: center;
	margin:20px 0;
}
.article-title{
	border-bottom: 1px solid #ccc;
}
.form-horizontal .control-label{
	text-align: right;
} 
.control-label{
	/* height:34px;
	line-height: 34px; */
}
.col {
    /* margin: 10px 0; */
}
.operation{
	text-align: center;
}
.control-label input[type="radio"]{
	/* margin-top:10px; */
}

.logo{
	display: block;
	width:61px;
	height:61px;
	margin:0 auto;
	margin-top:12px;
}

/* 2017年9月27日修改 */
.cover{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(0, 0, 0, .6);
	z-index:5;
	display:none;
}
#xs-menu-btn{
	display: inline-block;
	vertical-align: middle;
	padding:0 10px;
	width:auto;
	margin-top:4px;
	color: #333;
    text-decoration: none;
}
#xs-menu-btn .iconfont{
	font-size: 32px;
}
.menu-btn-wrap{
	position: relative;
	text-align:center;
}
.header{
	height: 86px;
	line-height: 86px;
	color:#333;
	position: relative;
	z-index: 2;
	border-bottom:1px solid #ccc;
	box-shadow: 0px 1px 4px #ccc;
	-webkit-box-shadow: 0px 1px 4px #ccc;
	-moz-box-shadow: 0px 1px 4px #ccc;
	-ms-box-shadow: 0px 1px 4px #ccc;
}
.body .body-height-fluid{
	
}
.header p{
	display: inline-block;
	margin:0;
}
.md-left-menu{
	background: #CDE7F7;
	height:100%;
	overflow: auto;
	padding-top:20px;
	padding-bottom:20px;
}
.md-right-content{
	height:100%;
	overflow: hidden;
	padding-top:0px;
	padding-bottom:20px;
}
.md-left-menu .row{
	width:100%;
	margin:25px auto;
	text-align:center;
}
.md-left-menu .row .btn{
	width:100%;
	text-align:left;
}
.title{
	font-size:16px;
	font-weight:bold;
}
.header-name{
	text-align:right;
	margin-right:10px;
}
.header-bottom-group{
	text-align:right;
}
.header-bottom-group .btn{
	margin-left:4px;
	margin-right:4px;
}

/*第一步*/
.normal-row-top-bottom{
	padding-top:7px;
	padding-bottom:7px;
}
.article-content{
	padding-top:20px;
	padding-bottom:25px;
}
/*第一步结束*/
/* bootstrap 重写 */
.btn-primary {
    color: #fff;
    background-color: #067BC4;
    border-color: #067BC4;
}
.btn-orange{
	color: #fff;
    background-color: #F57625;
    border-color: #F57625;
}
.btn-orange:hover{
	color: #fff;
    background-color: #DF5E0E;
    border-color: #DF5E0E;
	
}
h6{
	font-size:14px;
}
/*重写结束*/
.btn-wrap .btn{
	margin-left:8px;
	margin-right:8px;
}
.td-button{
	text-align:center;
}
.top-tips{
	background:#fff;
	padding:20px;
	margin:0 20px;
	margin-bottom:20px;
}
.tables{
	margin:0 20px;
}
.table>tbody>tr>td{
	line-height: 34px;
}
.md-left-menu a.active{
	color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.md-left-menu .iconfont{
	font-size: 18px;
	margin-right:20px;
}
.header-bottom-group .iconfont{
	margin-right:8px;
}

.loading-icon{
	background:url(../img/loading.gif) center center no-repeat;
}
@media only screen and (max-width:450px){
	.article-wrap h5{
		font-size:12px;
	}
}
@media only screen and (max-width:767px) {

	.article-content{
		padding:0 20px;
	}

	th,td{
		padding:5px 0 !important;
	}
	.article-wrap{
		padding:5px 2px;
	}
	.department li{
		padding:5px 5px;
		text-align: center;
		float:left;
	}
	.col{
		/* margin:10px 0; */
	}
	.container-fluid{
		/* padding-left:0;
		padding-right:0; */
	}
	.container{
		width:100%;
		padding-top:0;
		/* padding-left:0px;
		padding-right: 0px; */
		/*background: green;*/
	}
	.con-content,.main-content{
		border: none;
		border-radius: 0;
	}
	.step{
		position: absolute;
		left: 0;
	    top: 0;
	    width: 100%;
	}
	.main-content{
		position: absolute;
	    top: 48px;
	    left: 0;
	    bottom: 0;
	    width: 100%;
	    height: auto;
	    overflow: auto;
	}
	.article-wrap{
		margin:0 0px;
	}
	.radio-wrap .col-md-3{
		display:inline-block;
	}
	.auth-img{
		position:initial;
	}
	.auth-img img{
		/* width:50%; */
		display: block;
		margin:0 auto;
	}
	/*
	.radio-wrap .col-md-3{
		display:inline-block;
	}
	.radio-wrap .control-label{
		text-align: left;
	}
	*/
	.article-content{
		margin-left:0;
		margin-right:0;
	}
	.article-content .col{
		/* padding-left:5px;
		padding-right:5px; */
	}
	.form-horizontal .control-label{
		padding-top:7px;
	}
	.form-horizontal .form-group{
		margin-left:0;
		margin-right:0;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	th,td{
		padding:5px 0 !important;
	}
	.article-wrap{
		padding:5px 2px;
	}
	.article-content{
		margin-left:0;
		margin-right:0;
	}
	.article-content .col{
		/* padding-left:5px;
		padding-right:5px; */
	}
	.form-horizontal .control-label{
		/* padding:0; */
	}
	.form-horizontal .form-group{
		margin-left:0;
		margin-right:0;
	}
	.department li{
		padding:5px 5px;
		text-align: center;
		float:left;
	}
	.col{
		/* margin:10px 0; */
	}
	.container-fluid{
		/* padding-left:0;
		padding-right:0; */
	}
	.container{
		width:100%;
		/*background: green;*/
	}
	.radio-wrap .col-md-3{
		display:inline-block;
	}
	.auth-img{
		position:initial;
	}
	.auth-img img{
		display: block;
		margin:0 auto;
	}
	/*.radio-wrap .control-label{
		text-align: left;
	}*/
}


/* 手机 */
@media only screen and (max-width:768px){
	.xs-right-menu{
		position:fixed;
		top:0;
		bottom:0;
		right:0;
		background:#fff;
		z-index:10;
		min-width:200px;
		padding-top:0;
		will-change: transform;
		transform: translate3d(204px,0,0);
		-webkit-transform: translate3d(204px,0,0);
		transition: transform .5s;
		-webkit-transition: transform .5s;
	}
	.xs-right-menu-active{
		transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		
	}
	.xs-right-menu .row{
		width: 100%;
		margin-top:22px;
		margin-bottom:22px;
		text-align:left;
	}
	.xs-right-menu .row .btn-lg{
		font-size: 14px;
		padding:6px 12px;
		line-height: 1.42857143;
		border-radius:4px;
	}
	.xs-right-menu .row .btn{
		width:100%;
	}
	.xs-right-menu-header{
		height:86px;
		margin-left:-15px;
		margin-right:-15px;
		border-bottom:1px solid #ccc;
		position: relative;
		box-shadow: 0px 0px 4px 1px #ccc;
		-webkit-box-shadow: 0px 0px 4px 1px #ccc;
		-moz-box-shadow: 0px 0px 4px 1px #ccc;
		-ms-box-shadow: 0px 0px 4px 1px #ccc;
	}
	.xs-right-menu-header .close-menu{
		position: absolute;
		right:20px;
		top:10px;
		cursor: pointer;
	}
	div.header{
		line-height: normal;
	}
	div.header .xs-header-middle{
		margin-top:22px;
	}
	.md-right-content{
		padding-top:20px;
		padding-left:0;
		padding-right:0;
		padding-bottom:0;
	}
	.xs-btn-group .btn{
		padding:6px 12px;
		margin:0 8px !important;
		font-size:14px;
	}
}
/* 平板 */
@media only screen and (min-width:768px){
	.cover{
		position:fixed;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background:rgba(0, 0, 0, .6);
		z-index:5;
		display:none !important;
	}
	.md-right-content{
		padding-right:0;
	}
	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
	.title{
		font-size: 17px;
		font-weight: bold;
		line-height: 80px;
	}
	.header-name{
		margin-right:5px;
	}
}
@media only screen and (min-width: 992px){
	.title{
		font-size: 22px;
		font-weight: bold;
		line-height: 76px;
	}
	.header-bottom-group .btn{
		margin-left:2px;
		margin-right:2px;
	}
	.md-right-content{
		padding-right:0;
	}
	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
	/* .md-left-menu .row .btn{
		width:210px;
	} */
}
@media only screen and (min-width: 1200px) {
	.container{
		/*background: yellow;*/
		width:1200px;
	}
	.md-left-menu{
		/* width:380px; */
	}
	.md-left-menu .row .btn{
		/* width:270px;
		padding-left:50px; */
	}
	.md-right-content{
		padding-right:0;
	}
	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
}
@media only screen and (min-width: 1400px) {
	.container{
		/*background: yellow;*/
	}
	/* .md-left-menu .row .btn{
		width:300px;
		padding-left:60px;
	} */
}
@media only screen and (min-width: 1700px) {
	.container{
		/*background: yellow;*/
	}
	/* .md-left-menu .row .btn{
		width:400px;
		padding-left:60px;
	} */
}



