<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>网络报名</title>
		<link rel="stylesheet" href="bootstrap_3.3.5/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/Registration.css"/>
		<script type="text/javascript" src="js/jquery-1.11.3.min.js" ></script>
		<script type="text/javascript" src="js/Registration.js"></script>
	</head>
	<body>
			<div class="container-fluid">
			<div class="container con-wrap">
				<div class="con-title hidden-xs">
					<h3>网络报名</h3>
				</div>
				<div class="con-content">
					<div class="step"><span>提示信息：报名成功</span><a href="index.html">[点击返回首页]</a></div>
					<div class="main-content">
						<div class="succeed">
							<div class="succeed-one">
								<p>尊敬的某某，您已经成功付款，订单号为1000，班级为行书（1）班，摄影基础-（4），请开学后按时到学校上课</p>
							</div>
							<div class="succeed-two">
								<p>学校地址：广州</p>
								<p>咨询电话：020-10000</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
